header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
}

footer > div {
  display: flex;
  justify-content: center;
}
/* 
#stats > div {
    display: block;
} */