header,
main,
h3,
footer > div, #graph {
  display: flex;
  justify-content: center;
}

.gameData {
  width: 70%;
  overflow-wrap: break-word;
}

#graph {
  width: 1400px;
  height: 800px;
  resize: both;
  overflow: auto;
}

svg {
  width: 95%;
  height: 95%;
}

.heavy {
  font: bold 30px sans-serif;
}

.med {
  font: 20px sans-serif;
}